/* .header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
} */

.list {
  display: flex;
  gap: 1rem;
}

/* .list a {
  text-decoration: none;
  color: var(--color-primary-400);
} */
.list a {
  text-decoration: none;
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #ffae0bc4;
    color: black;
    padding: 0.75rem 3rem;
    display: flex;
    border-radius: 13px;
    font-weight: bold;
}

.list a:hover,
.list a:active {
  background-color: #744e03c4;
  color: white;
}

/* .list a:hover,
.list a.active {
  color: var(--color-primary-800);
} */

.headerLine{
  position: relative;
    z-index: 1;
    background-color: #1f1d1b21;
}

.header {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10; */
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
