.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }

  .item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    background-color: var(--color-gray-800);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .item a:hover {
    transform: scale(1.02);
    background-color: var(--color-gray-700);
  }
  
  .item img {
    width: 33%;
    object-fit: cover;
  }

  .item h2 {
    margin: 0 0 1rem 0;
  }

  .content {
    padding: 1rem;
    display: flex;
  }