.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: row;
    gap: 1rem; */
  }

  .MealsLoading{
    text-align: center;
    color:rgb(66, 1, 1);
  }

  .MealsError{
    text-align: center;
    color:rgb(255, 0, 0);
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }